/* Layout and Centering */
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  
  /* Text Alignment */
  nav a,
  #hero-msg h1,
  #hero-msg h4,
  .button-box,
  main section {
    text-align: center;
  }
  
  /* Background Colors */
  body {
    background-color: #B3E5FC;
  }
  
  header {
    background-color: #0D3B66;
  }
  
  nav a:hover {
    background-color: #0D3B66;
  }
  
  .book,
  .join {
    background-color: #7AC142;
  }
  
  .book:hover,
  .join:hover {
    background-color: #3D9BE9;
  }
  
  #background {
    height: 725px;
    background-color: #7AC142;
  }
  
  .msg {
    background-color: #fff;
  }
  
  footer {
    background-color: #0D3B66;
  }
  
  /* Text Colors */
  nav a {
    color: #fcfbfb;
  }
  
  nav a:hover {
    color: #B3E5FC;
  }
  
  .home-title,
  h4,
  .msg h2,
  .msg p,
  footer,
  footer a {
    color: #0D3B66;
  }
  
  footer a:hover {
    color: #3D9BE9;
  }
  
  /* Image Widths */
  .logo,
  .icon {
    width: 80px;
  }
  
  #hero-img {
    width: 100%;
  }
  
  /* Remove Underlines */
  nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
  }
  
  /* Footer Paragraph Styling */
  footer p {
    font-size: 1.2em;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }