@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');


/* Layout and Centering */
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  
  /* Text Alignment */
  nav a,
  #hero-msg h1,
  #hero-msg h4,
  .button-box,
  main section {
    text-align: center;
  }
  
  /* Background Colors */
  body {
    background-color: #B3E5FC;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

  }
  
  header {
    background-color: #0D3B66;
    padding: 40px 0;
  }
  
  nav a:hover {
    background-color: #0D3B66;
  }

  #logo_link {
    padding-top: 5px;
}
  
  .book,
  .join {
    background-color: #7AC142;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 50px;
  }
  
  .book:hover,
  .join:hover {
    background-color: #3D9BE9;
  }
  
  #background {
    height: 725px;
    background-color: #7AC142;
    padding: 40px 0;
  }
  
  .msg {
    background-color: #fff;
    padding: 35px;
    line-height: 1.5em;
  }

  .msg h2 {
    margin: 0;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    color: #0D3B66;
}

.msg p {
    padding-bottom: 15px;
    font-size: 0.8em;
    color: #0D3B66;
}
  
  footer {
    background-color: #0D3B66;
    padding: 25px 50px;
    color: #0D3B66;
    margin-top: 200px;
  }

  footer p {
    font-size: 1.2em;
}

footer a {
    color: #0D3B66;
    text-decoration: none;
}

footer a:hover {
    color: #3D9BE9;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}
  
  /* Text Colors */
  nav a {
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
    text-align: center;
  }
  
  nav a:hover {
    color: #B3E5FC;
  }
  
  .home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: #0D3B66;
  }
  
  footer a:hover {
    color: #3D9BE9;
  }
  
  /* Image Widths */
  .logo,
  .icon {
    width: 80px;
  }

  .icon {
    padding-top: 10px;
}
  
  #hero-img {
    width: 100%;
  }
  
  /* Remove Underlines */
  nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
  }

  /* Borders and Box-sizing */
.card-img {
  border: 10px solid #7AC142;
  border-radius: 5px;
}

main section img {
  box-sizing: border-box;
}

main section {
  padding-top: 80px;
  padding-bottom: 40px;
}
  